nav a {
    text-decoration: none;
    color: antiquewhite;
}
nav a:hover {
    color: burlywood;
}
nav{
    text-align: center;
}
#foot{
    background-color: #ff79f4;
    text-align: center;
}
p{
    color: black;
}
#div1{
    width: 160px;
    height: 305px;
    background-color: red;
    margin: 12px;
    float: left;

}
#div2{
    width: 160px;
    height: 305px;
    background-color: green;
    margin: 12px;
    clear: both;
    float: right, 10px;
}
#div3{
    width: 160px;
    height: 305px;
    background-color: blue;
    margin: 12px;
    clear: both;
}   
#div4{
    width: 160px;
    height: 305px;
    background-color: yellow;
    margin: 12px; 
}
#div1:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
#div2:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
#div3:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
#div4:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
h2{
    clear: both;
    
}