nav a {
    text-decoration: none;
    color: antiquewhite;
}
nav a:hover {
    color: burlywood;
}
nav{
    text-align: center;
}
#foot{
    color: aliceblue;
    text-align: center;
}
#csik{
    color: #f979ec;
    width: 700px;
    border: 50px;
}


